<p style="color: green"><%= notice %></p>

<h1>Institutions</h1>

<div id="institutions">
  <table class="table">
    <tr>
      <th>Name</th>
      <th>CNPJ</th>
      <th>Type</th>
      <th>Actions</th>
    </tr>
    <% @institutions.each do |institution| %>
      <tr>
        <td><%=institution.name %></td>
        <td><%=institution.cnpj %></td>
        <td><%=institution.institution_type.capitalize %></td>
        <td>
          <%= button_to "Edit", edit_institution_path(institution), method: :get, class: 'btn btn-sm btn-info' %>
          <%= button_to "Delete", institution, method: :delete, class: 'btn btn-sm btn-danger' %>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<%= link_to "New institution", new_institution_path %>
