<div id="<%= dom_id student %>">
  <p>
    <strong>Name:</strong>
    <%= student.name %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= student.cpf %>
  </p>

  <p>
    <strong>Birth date:</strong>
    <%= student.birth_date %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= student.phone %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= student.gender %>
  </p>

  <p>
    <strong>Payment type:</strong>
    <%= student.payment_type %>
  </p>

</div>
