<p style="color: green"><%= notice %></p>

<h1>Students</h1>

<div id="students">
  <table class="table">
    <tr>
      <th>Name</th>
      <th>CPF</th>
      <th>Birth date</th>
      <th>Phone</th>
      <th>Gender</th>
      <th>Payment Type</th>
      <th>Actions</th>
    </tr>
    <% @students.each do |student| %>
      <tr>
        <td><%=student.name %></td>
        <td><%=student.cpf %></td>
        <td><%=student.birth_date %></td>
        <td><%=student.phone %></td>
        <td><%=student.gender == "f" ? "Female" : "Male"  %></td>
        <td><%=student.payment_type.capitalize %></td>
        <td>
          <%= link_to "Edit", edit_student_path(student) %>
          <%= button_to "Delete", student, method: :delete %>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<%= link_to "New student", new_student_path %>
