<div id="<%= dom_id enrollment %>">
  <p>
    <strong>Course price:</strong>
    <%= enrollment.course_price %>
  </p>

  <p>
    <strong>Number payments:</strong>
    <%= enrollment.number_payments %>
  </p>

  <p>
    <strong>Due day:</strong>
    <%= enrollment.due_day %>
  </p>

  <p>
    <strong>Course name:</strong>
    <%= enrollment.course_name %>
  </p>

</div>
