<div id="<%= dom_id payment %>">
  <p>
  <strong>Student:</strong>
  <%= payment.enrollment.student.name %>
  </p>

  <p>
    <strong>Enrollment id:</strong>
    <%= payment.enrollment_id %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= payment.value %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= payment.due_date %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= payment.status %>
  </p>

</div>
