<p style="color: green"><%= notice %></p>

<h1>Payments</h1>

<div id="payments">
  <table class="table">
    <tr>
      <th>Student</th>
      <th>Institution</th>
      <th>Course name</th>
      <th>Payment Value</th>
      <th>Due date</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
    <% @payments.each do |payment| %>
      <tr>
        <td><%=payment.enrollment.student.name %></td>
        <td><%=payment.enrollment.institution.name %></td>
        <td><%=payment.enrollment.course_name %></td>
        <td><%=payment.value %></td>
        <td><%=payment.due_date %></td>
        <td><%=payment.status %></td>
        <td>
          <%= button_to "Edit", edit_payment_path(payment), method: :get, class: 'btn btn-sm btn-info' %>
          <%= button_to "Delete", payment, method: :delete, class: 'btn btn-sm btn-danger'  %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
